<a href="https://colab.research.google.com/github/Gautam-Jaiswal/Pandas---Project-1/blob/main/Pandas_Set_1(LEARNING).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

**Creadting a data Frame and reading the csv**

In [51]:
df = pd.read_csv('salaries_by_college_major.csv')
pd.options.display.float_format = '{:,.2f}'.format

**Printing the top 5 elements of a file**

In [31]:
df.head()

     Undergraduate Major  ...     Group
0             Accounting  ...  Business
1  Aerospace Engineering  ...      STEM
2            Agriculture  ...  Business
3           Anthropology  ...      HASS
4           Architecture  ...  Business

[5 rows x 6 columns]

**Getting number of rows and columns**

In [53]:
df.shape

(51, 6)

**Printing the name of all columns**

In [54]:
df.columns

Index(['Undergraduate Major', 'Starting Median Salary',
       'Mid-Career Median Salary', 'Mid-Career 10th Percentile Salary',
       'Mid-Career 90th Percentile Salary', 'Group'],
      dtype='object')

**Checking if Nan(Not a number) is present or not or just a blank space**

In [ ]:
df.isna()

In [ ]:
df.tail()

**Dropping all the Nan Values**

In [ ]:
df = df.dropna()

In [ ]:
df.tail()

**Find College Major with Highest Starting Salaries**

In [ ]:
df['Starting Median Salary'].max() #Getting the max value from columns Starting Median Salary
df['Starting Median Salary'].idxmax() #Getting the ID of max value from columns Starting Median Salary i.e. 43
print(df.loc[43]) #Printing all the details of row 43
df['Undergraduate Major'][43] #Printing the name of the Degree with Highest Starting Median Salary

**College major having the highest mid-career salary**

In [ ]:
max_value = df['Mid-Career Median Salary'].idxmax()
print(df.loc[max_value])
df['Undergraduate Major'][max_value]

**Difference between mid carrer 10th and 90th salary and adding this difference row in our data-frams(df)**

In [33]:
diff = df['Mid-Career 90th Percentile Salary']-df['Mid-Career 10th Percentile Salary']
df.insert(5,'Difference',diff)
df.head()

     Undergraduate Major  Starting Median Salary  ...  Difference     Group
0             Accounting                 46000.0  ...    109800.0  Business
1  Aerospace Engineering                 57700.0  ...     96700.0      STEM
2            Agriculture                 42600.0  ...    113700.0  Business
3           Anthropology                 36800.0  ...    104200.0      HASS
4           Architecture                 41600.0  ...     85400.0  Business

[5 rows x 7 columns]

**Sorting DF on the basis of diffecence and it creates a copy of df.Original df is unchanged**

In [ ]:
sorted = df.sort_values('Difference')
sorted[['Undergraduate Major','Difference']].head()

**Using GroupBy Function to group the common elements and in the next cell finding the mean of it**

In [43]:
df.groupby('Group').count()

          Undergraduate Major  ...  Difference
Group                          ...
Business                   12  ...          12
HASS                       22  ...          22
STEM                       16  ...          16

[3 rows x 6 columns]

In [52]:
df.groupby('Group').mean()

          Starting Median Salary  ...  Mid-Career 90th Percentile Salary
Group                             ...
Business               44,633.33  ...                         147,525.00
HASS                   37,186.36  ...                         129,363.64
STEM                   53,862.50  ...                         157,625.00

[3 rows x 4 columns]

**Here I have calculated mean of a column named Starting Median Salary and : in it represents to select all the rows and after column represnts the group name**

In [56]:
df.loc[:,['Starting Median Salary','Mid-Career Median Salary']].mean()

Starting Median Salary     44,310.00
Mid-Career Median Salary   74,786.00
dtype: float64